
<ion-header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Css -->
    <link rel="stylesheet" href="menu-principal.component.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Forms | Tailwind Admin</title>
</ion-header>   
<ion-content>


  <!--Container -->
  <div class="mx-auto bg-grey-lightest">
      <!--Screen-->
      <div class="min-h-screen flex flex-col">
          <!--Header Section Starts Here-->
          <header class="bg-nav">
              <div class="flex justify-between">
                  <div class="p-1 mx-3 inline-flex items-center">
                      <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                      <h1 class="text-white p-2">Logo</h1>
                  </div>
                  <div class="p-1 flex flex-row items-center">
          
                      <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                          <ul class="list-reset">
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                            <li><hr class="border-t mx-2 border-grey-ligght"></li>
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </header>
          <!--/Header-->
  
          <div class="flex flex-1">
              <!--Sidebar-->

  
              <!--Main-->
              
  
                  <div class="flex flex-col">
                      <!-- Card Sextion Starts Here -->
  
                          <!--/Underline form-->
                      </div>
                      <!-- /Cards Section Ends Here -->
  
                      <!--Grid Form-->
  
                      <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                          <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                              <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                  Docentes
                              </div>
                              <div class="p-3">
                                  <table cellpadding="0" cellspacing="20" border="2">
                                      <tbody>
                                          <tr *ngFor="let docente of docentes | async">
                                              <td>{{docente.nombre}} {{docente.apellido}} </td>
                                              <td><button (click)="actualizarInformacion(docente)" style="float: none; width: 100%; height: 35px; border: none; border-radius: 5px; margin-top: -8px;color: rgba(255,255,255, 1); background-color: rgba(16,89,255, 1);">Actualizar Datos</button></td>
                                              <br>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
  
                      
                          <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                              <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                  Actualizar Datos
                              </div>
                              <div class="p-3">
                                  <table [ngClass]="docente" >
                                      <tr>
                                          <td>Nombre </td>
                                          <td><input type="text" value="{{docente.nombre}}" id="nombre" name="nombre" [(ngModel)]="docente.nombre"></td>
                                      </tr>
                                      <tr>
                                          <td>Apellido</td>
                                          <td><input type="text" value="{{docente.apellido}}" id="apellido" name="apellido" [(ngModel)]="docente.apellido"></td>
                                      </tr>
                                      <tr>
                                          <td>Correo</td>
                                          <td><input type="text" value="{{docente.correo}}" id="correo" name="correo" [(ngModel)]="docente.correo"></td>
                                      </tr>
                                      <tr>
                                          <td>Asignatura</td>
                                          <td><input type="text" value="{{docente.asignatura}}" id="asignatura" name="asignatura" [(ngModel)]="docente.asignatura"></td>
                                      </tr>
                                      <tr>
                                          <td><button (click)="guardarDatos()">Actualizar</button></td>
                                      </tr>       
                                  </table>
                              </div>
                          </div>
                      
                      <!--/Grid Form-->
                  </div>
              <!--/Main-->
          </div>
          <!--Footer-->
          <footer class="bg-grey-darkest text-white p-2">
              <div class="flex flex-1 mx-auto">&copy; My Design</div>
          </footer>
          <!--/footer-->
  
      </div>
  <script src="./main.js"></script>

  </ion-content>

      