<ion-header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Css -->
    <link rel="stylesheet" href="menu-principal.component.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">

</ion-header>

<ion-content>
        <!--Container -->
        <div class="mx-auto bg-grey-lightest">
            <!--Screen-->
            <div class="min-h-screen flex flex-col">
                <!--Header Section Starts Here-->
                <header class="bg-nav">
                    <div class="flex justify-between">
                        <div class="p-1 mx-3 inline-flex items-center">
                            <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                            <h1 class="text-white p-2">Sistema de Laboratorios de TICS</h1>
                        </div>
                        <div class="p-1 flex flex-row items-center">


                        </div>
                    </div>
                </header>
                <!--/Header-->

                
                    <!--Sidebar-->


                    <!--Main-->


                 
                    <!-- /Cards Section Ends Here -->

                    <!--Grid Form-->

                   
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">

                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                Bienvenido Administrador
                            </div>

                            <div class="imagenPrincipal">
                                <a href="registrar-usuario"><img src="../../../assets/registro colaborador.png"></a>
                                <a> Registrar Colaborador</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="registradocente"><img src="../../../assets/registro docente.png"></a>
                                <a> Registrar Docente</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="registrar-estudiante"><img src="../../../assets/registro estudiante.png"></a>
                                <a> Registrar Estudiante</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="ingresar-materia"><img src="../../../assets/registro asignatura.png"></a>
                                <a> Registrar Materia</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="registrar-prestamo"><img src="../../../assets/registro prestamo.png"></a>
                                <a> Registrar Prestamo</a>
                            </div>
                            <div class="imagenPrincipal">
                                <a href="inserttablets"><img src="../../../assets/registro tablet.png"></a>
                                <a> Registrar Tablet</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="devolver-prestamo"><img src="../../../assets/registro prestamo.png"></a>
                                <a> Devolver Tablet</a>
                            </div>


                            <div class="imagenPrincipal">
                                <a href="listar-docentes"><img src="../../../assets/Listar docentes.png"></a>
                                <a> Listar Docente</a>
                            </div>

                            
                            <div class="imagenPrincipal">
                                <a href="listar-estudiantes"><img src="../../../assets/Listar estudiantes.png"></a>
                                <a> Listar Estudiante</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="listar-materia"><img src="../../../assets/Listar tablet.png"></a>
                                <a> Listar Materia</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="list-tablets"><img src="../../../assets/Listar tablet.png"></a>
                                <a> Listar Tablet</a>
                            </div>
                        </div>
                    


                    <!--BOTON-->

               
            </div>
        </div>
        <!--/Grid Form-->

        <!--/Main-->
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">Carrera de Educación-Universidad Politécnica Salesiana </div>
        </footer>
        <!--/footer-->





        <script src="./main.js"></script>

</ion-content>