<ion-header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Css -->
    <link rel="stylesheet" href="menu-principal.component.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Forms | Tailwind Admin</title>
</ion-header>

<ion-content>
        <!--Container -->
        <div class="mx-auto bg-grey-lightest">
            <!--Screen-->
            <div class="min-h-screen flex flex-col">
                <!--Header Section Starts Here-->
                <header class="bg-nav">
                    <div class="flex justify-between">
                        <div class="p-1 mx-3 inline-flex items-center">
                            <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                            <h1 class="text-white p-2">Logo</h1>
                        </div>
                        <div class="p-1 flex flex-row items-center">

                            <div id="ProfileDropDown"
                                class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                                <ul class="list-reset">
                                    <li><a href="#"
                                            class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My
                                            account</a></li>
                                    <li><a href="#"
                                            class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a>
                                    </li>
                                    <li>
                                        <hr class="border-t mx-2 border-grey-ligght">
                                    </li>
                                    <li><a href="#"
                                            class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <!--/Header-->

                
                    <!--Sidebar-->


                    <!--Main-->


                 
                    <!-- /Cards Section Ends Here -->

                    <!--Grid Form-->

                   
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">

                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                Bienvenido Administrador
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Registrar-Estudiante"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Registrar Colaborador</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Registrar-Docente"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Registrar Docente</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Registrar-Estudiante"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Registrar Estudiante</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Registrar-Materia"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Registrar Materia</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Insertar-Tablets"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Registrar Tablet</a>
                            </div>



                            <div class="imagenPrincipal">
                                <a href="Actualizar-Docente"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Actualizar Docente</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Actualizar-Estudiante"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Actualizar Estudiante</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Listar-Materia"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Listar Materia</a>
                            </div>

                            <div class="imagenPrincipal">
                                <a href="Listar-Tablets"><img src="../../../assets/UpdateDocente.png"></a>
                                <a> Listar Tablet</a>
                            </div>
                        </div>
                    


                    <!--BOTON-->

               
            </div>
        </div>
        <!--/Grid Form-->

        <!--/Main-->
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; My Design</div>
        </footer>
        <!--/footer-->




        <script src="./main.js"></script>

</ion-content>